# Application Environment Variable
SPRING_PROFILES_ACTIVE=
DB_URL=
DB_DRIVER=
DB_CONN_MINIMUM_IDLE=
DB_CONN_MAXIMUM_POOL_SIZE=
DB_CONN_CONNECTION_TIMEOUT=
DB_CONN_REGISTER_MBEANS=
HIBERNATE_DDL_AUTO=
HIBERNATE_SHOW_SQL=
HIBERNATE_FORMAT_SQL=
HIBERNATE_GENERATE_STATISTICS=
HIBERNATE_LOG_LEVEL=
SHUTDOWN_TIMEOUT=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=