# Application Environment Variable (Required)
SPRING_PROFILES_ACTIVE=
DB_URL=
DB_DRIVER=
DB_CONN_MINIMUM_IDLE=
DB_CONN_MAXIMUM_POOL_SIZE=
DB_CONN_CONNECTION_TIMEOUT=
REDIS_HOST=
REDIS_PORT=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Application Environment Variable (Optional, uncomment to active)
# HIBERNATE_DDL_AUTO=
# SHUTDOWN_TIMEOUT=

# Application Environment Variable (for auto binding)
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_GENERATE_STATISTICS=true
SPRING_DATASOURCE_HIKARI_REGISTER_MBEANS=true
SERVER_TOMCAT_MBEANREGISTRY_ENABLED=true
LOGGING_LEVEL_ORG_HIBERNATE=DEBUG
