# --- Spring Core ---
SPRING_PROFILES_ACTIVE=local

# --- Database ---
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/springboot_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=10
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=20
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=30000

# --- Redis ---
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

# --- Web Starter (prefix 'web') ---
WEB_ALLOWED_ORIGINS=*
WEB_RESPONSE_FILTER_PREFIXES=com.example

# --- JWT Properties (prefix 'jwt') ---
JWT_ACCESS_TOKEN_VALIDITY_IN_SECONDS=3600
JWT_REFRESH_TOKEN_VALIDITY_IN_SECONDS=86400

# --- App Properties (prefix 'app') ---

# --- (Optional) Application Environment Variable (for auto binding) ---
# SPRING_JPA_SHOW_SQL=false
# SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false
# SPRING_JPA_PROPERTIES_HIBERNATE_GENERATE_STATISTICS=true
# SPRING_DATASOURCE_HIKARI_REGISTER_MBEANS=true
# SERVER_TOMCAT_MBEANREGISTRY_ENABLED=true
# LOGGING_LEVEL_ORG_HIBERNATE=DEBUG
