<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot Logback 설정 로드 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 프로퍼티 설정 -->
    <property name="LOG_FILE_PATH" value="./logs" />
    <property name="CONSOLE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} [%X{requestId}] - %m%n%wEx" />

    <!-- [1] Local / Dev 환경: 모든 로그를 Plain Text로 출력 -->
    <springProfile name="!(prod | stage)">
        
        <!-- 콘솔 출력 (Text) -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- INFO/WARN 파일 출력 (Text) -->
        <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/info.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/backups/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- ERROR 파일 출력 (Text) -->
        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/error.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/backups/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- 로거 설정 -->
        <logger name="com.example.springboot_app" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_INFO" />
            <appender-ref ref="FILE_ERROR" />
        </root>
    </springProfile>


    <!-- [2] Prod / Stage 환경: 모든 로그를 JSON으로 출력 -->
    <springProfile name="prod, stage">

        <!-- 콘솔 출력 (JSON) -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <!-- INFO/WARN 파일 출력 (JSON) -->
        <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/info.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/backups/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>10GB</totalSizeCap>
                <maxHistory>360</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- ERROR 파일 출력 (JSON) -->
        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/error.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/backups/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>10GB</totalSizeCap>
                <maxHistory>360</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- 로거 설정 -->
        <logger name="com.example.springboot_app" level="INFO" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_INFO" />
            <appender-ref ref="FILE_ERROR" />
        </root>
    </springProfile>

</configuration>
