<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot Logback 설정 로드 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 프로퍼티 설정 -->
    <property name="LOG_FILE_PATH" value="./logs" />
    <property name="CONSOLE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} [%clr(${HOSTNAME:-localhost}){green}:%clr(${PID:- }){magenta}] %clr([%15.15t]){faint} %clr(---){faint} %clr(%-35.35(%logger{30}:%L)){cyan} %clr(%5p) %clr([%X{requestId}]){faint} %m%n%wEx" />

    <!-- [1] Local / Dev 환경: 모든 로그를 Plain Text로 출력 -->
    <springProfile name="!(prod | stage)">
        
        <!-- 콘솔 출력 (Text) -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- INFO/WARN 파일 출력 (Text) -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/app.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/backups/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- 로거 설정 -->
        <logger name="com.example.springboot_app" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>


    <!-- [2] Prod / Stage 환경: JSON으로 stdout(표준 출력)만 수행 -->
    <springProfile name="prod, stage">

        <!-- 콘솔 출력 (JSON) -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <!-- 로거 설정 -->
        <logger name="com.example.springboot_app" level="INFO" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>
